{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- preloder-wrap -->
<div id="cssLoader3" class="preloder-wrap">
    <div class="loader">
        <div class="child-common child4"></div>
        <div class="child-common child3"></div>
        <div class="child-common child2"></div>
        <div class="child-common child1"></div>
    </div>
</div>
<!-- preloder-wrap -->
<!-- search-area -->
<div class="search-area">
    <span class="closs-btn">Close</span>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="search-form">
                    <form action="#">
                        <input type="text" name="search" placeholder="Search Here">
                        <button type="button" name="button" class="btn-style">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- search-area -->
<!-- heared area start -->
{% include "block/_header.html.twig" %}
<!-- heared area end -->

<!-- slider area start -->
{% include "block/_slide.html.twig" %}
<!-- slider area end -->

<!-- about-area start -->
{% include "block/_about.html.twig" %}
<!-- about-area end -->

<!-- .service-area start -->
{% include "block/_values.html.twig" %}

<!-- team-area start -->
    {% include "block/_services.html.twig" %}
<!-- team-area end -->

<!-- blog-area end -->
<div class="pricing-table-area"> </div>
<!-- brand-area start -->
{% include "block/_partner.html.twig" %}
<!-- brand-area end -->
<!-- footer-area start  -->
{% include 'block/_footer.html.twig' %}
    <!-- footer-area end  -->
{% endblock %}
