<section class="about-area ptb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 wow fadeInLeft">
                <div class="about-wrap">
                    <h2>QUI SOMMES NOUS ?</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.randomised words which don't look even slightly believable.</p>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised. by injected humour, or randomised.</p>
                    <ul>
                        <li>There are many variations of passages</li>
                        <li>By injected humour or randomised.</li>
                        <li>the majority have suffered alteration</li>
                        <li>majority have suffered alteration</li>
                        <li>variations of passages of Lorem Ipsum</li>
                        <li>of passages of Lorem Ipsum</li>
                        <li>many variations of passages.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 wow fadeInRight">
                <div class="row mt-60">
                    <div class="col-sm-6 col-xs-12 col">
                        <div class="about-items mb-30">
                            <i class="fa fa-building-o"></i>
                            <h3>Ingénierie Civile </h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 col">
                        <div class="about-items mb-30">
                            <i class="fa fa-calculator"></i>
                            <h3>Ingénierie financière</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 col">
                        <div class="about-items">
                            <i class="fa fa-calendar"></i>
                            <h3>Planification et Management de projets</h3>
                        </div>
                    </div><div class="col-sm-6 col-xs-12 col">
                        <div class="about-items">
                            <i class="fa fa-line-chart"></i>
                            <h3>Conseil Stratégique</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
