<header class="header-area" id="sticky-header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-8 col-xs-6">
                <div class="logo">
                    <h1><a href="/">CTA development</a></h1>
                </div>
            </div>
            <div class="col-md-8 hidden-sm hidden-xs">
                {% include "block/_menu.html.twig" %}
            </div>
            <div class="col-md-1 col-sm-2 col-xs-3">
                <div class="search-wrap text-right">
                    <ul>
                        <li>
                            <a href="javascript:void(0);">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 clear col-xs-3 hidden-md hidden-lg">
                <div class="responsive-menu-wrap floatright"></div>
            </div>
        </div>
    </div>
</header>
