<section class="brand-area bg-img-2 black-opacity ptb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
                <div class="section-title section-title2">
                    <h2>Nos partenaires </h2>
                    <p>The majority have suffered alteration in some form, by injected humour, or randomised. by injected humour, or randomised.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="brand-active">
                <div class="col-xs-12">
                    <div class="brand-wrap">
                        <a href="#">
                            <img src="martxa/assets/images/brand/1.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="brand-wrap">
                        <a href="#">
                            <img src="martxa/assets/images/brand/2.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="brand-wrap">
                        <a href="#">
                            <img src="martxa/assets/images/brand/3.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="brand-wrap">
                        <a href="#">
                            <img src="martxa/assets/images/brand/4.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="brand-wrap">
                        <a href="#">
                            <img src="martxa/assets/images/brand/5.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="brand-wrap">
                        <a href="#">
                            <img src="martxa/assets/images/brand/6.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="brand-wrap">
                        <a href="#">
                            <img src="martxa/assets/images/brand/7.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
