
<section class="team-area team-area2">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
                <div class="section-title section-title2">
                    <h2>Nos services </h2>
                    <p>The majority have suffered alteration in some form, by injected humour, or randomised. by injected humour, or randomised.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                <div class="team-wrap2">
                    <div class="team-img">
                        <div class="overlay">
                            <!--<h3>Alex Jeson</h3>-->
                            <!--<span>Marketing</span>-->
                            <p>Voir plus  </p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <img src="martxa/assets/images/cta/image_plan.jpeg"/>
                        {#<img src="martxa/assets/images/cta/strategie.jpg" />#}
                    </div>
                    <div class="team-content">
                        <h3>Ingénierie Civile</h3>
                        <!--<p>Marketing</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                <div class="team-wrap2">
                    <div class="team-img">
                        <div class="overlay">
                            <p>Voir plus  </p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <!--<img src="martxa/assets/images/team/2.jpg" alt="" />-->
                        <img src="martxa/assets/images/cta/strategie.jpg" />
                    </div>
                    <div class="team-content">
                        <h3>Conseil stratégieque </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 col wow fadeInUp"  data-wow-delay=".3s">
                <div class="team-wrap2">
                    <div class="team-img">
                        <div class="overlay">
                            <!--<h3>Robert Kyle</h3>-->
                            <!--<span>Sales Head</span>-->
                            <p>Voir plus  </p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <!--<img src="martxa/assets/images/team/3.jpg" alt="" />-->
                        <img src="martxa/assets/images/cta/finances.jpg" />
                    </div>
                    <div class="team-content">
                        <h3>Ingénierie financière</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s">
                <div class="team-wrap2">
                    <div class="team-img">
                        <div class="overlay">
                            <!--<h3>Brayden Shar</h3>-->
                            <!--<span>The Boss</span>-->
                            <p>Voir plus  </p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <!--<img src="martxa/assets/images/team/4.jpg" alt="" />-->
                        <img src="martxa/assets/images/cta/management.jpg" />
                    </div>
                    <div class="team-content">
                        <h3>Planification et management de projets </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
