<section class="slider-area">
    <div class="slider-active dotate-style slider-next-prev-style">
        <div class="slider-items">
            <img src="martxa/assets/images/slider/1.jpg" alt="" class="slider">
            <div class="slider-content text-center">
                <div class="table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-8 col-md-offset-2">
                                    <h2>Expert en conseils stratégiques</h2>
                                    <p>
                                        Ingénierie Civile, Ingénierie financière ,Planification et Management de projets, Conseil Stratégique.
                                        <br>
                                        Nous vous accompagnons dans vos projets de développement.
                                    </p>
                                    <ul>
                                        <li><a href="#">Voir plus </a></li>
                                        <!--<li><a href="#">Get Started</a></li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-items">
            <img src="martxa/assets/images/slider/2.jpg" alt="" class="slider">
            <div class="slider-content text-center">
                <div class="table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-8 col-md-offset-2">
                                    <h2>CTA development en afrique</h2>
                                    <p>
                                        Guinée Bissau, Togo , Côte d'ivoire .... <br>
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                    <ul>
                                        <!--<li><a href="#">Get Started</a></li>-->
                                        <li><a href="#">Voir plus </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
