<section class="service-area home2-service-area">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-10 col-xs-12 wow fadeInUp">
                <div class="section-title section-title2">
                    <h2>Nos valeurs</h2>
                    <p>majority have suffered alteration in some form, by injected humour randomised. injected humour, or randomised.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                <div class="service-wrap">
                    <div class="service-content">
                        <h3>Innovation</h3>
                        <p>
                            Attentif à l'évolution de notre sociètè, nous enticipons les changements pour les
                            transformer en opportunités.
                        </p>
                        <a href="martxa/single-service.html">Voir plus </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                <div class="service-wrap">
                    <div class="service-content">
                        <h3>Satisfaction du client</h3>
                        <p>
                            Nous nous adaptons constamment pour satisfaire les exigences au quotidien mais
                            aussi sur le long terme de nos clients .
                        </p>
                        <a href="martxa/single-service.html">Voir plus </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s">
                <div class="service-wrap">
                    <div class="service-content">
                        <h3>Proximité</h3>
                        <p>
                            CTA development a une forte présence dans la sous region
                            ouest africaine et continue de s'étendre au fil des années.
                        </p>
                        <a href="martxa/single-service.html">Voir plus </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s">
                <div class="service-wrap">
                    <div class="service-content">
                        <h3>Accompagnement de A à Z</h3>
                        <p>
                            De la conception à la deconstruction , un savoir faire sur toute la chaine de valeur.
                        </p>
                        <a href="martxa/single-service.html">Voir plus </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".5s">
                <div class="service-wrap">
                    <div class="service-content">
                        <h3>Expertise</h3>
                        <p>
                            Un savoir faire sans cesse renouvélé, à travers une equipe jeune, ambicieuse et dynamique.

                        </p>
                        <a href="martxa/single-service.html">Voir plus </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".6s">
                <div class="service-wrap">
                    <div class="service-content">
                        <h3>Back End Development</h3>
                        <p>
                            90 % de taux de reussite dans les meilleurs delais.
                            injected humour, or randomised.
                        </p>
                        <a href="martxa/single-service.html">Voir plus </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
